//
   Created by max on 13/04/16.

extends ../layout


block content
  h1= title

  .row
    form.col.s12(action='save',method='post')
      .row
        .input-field.col.s6
          input#first_name(type="text", name="first_name")
          label(for="first_name") First Name
        .input-field.col.s6
          input#last_name(type="text", name="last_name")
          label(for="last_name") Last Name

      .row
        .input-field.col.s6
          input#email(type="email", name="email")
          label(for="email") Email
        .input-field.col.s6
          input#birth.datepicker(type="date", name="birth")
          label(for="birth") Day of Birth

      .row
        .input-field.col.s6
          input#password(type="password", name="password")
          label(for="password") Password
        .input-field.col.s6
          input#password_confirm(type="password", name="password_confirm")
          label(for="password_confirm") Confirm Password

      .row
        p#message= message

      .row
        each error in errors
          p.error= error.msg

      .row
        //a.waves-effect.waves-light.btn Back
        button.waves-effect.waves-light.btn.right(type="submit") Sign Up


  script(type="text/javascript").
    $(document).ready(function () {
      $('#birth').pickadate({
        formatSubmit: 'yy-mm-dd',
        selectMonths: true, // Creates a dropdown to control month
        max: true,          // yearRange: "-100:+0", // last hundred years
        selectYears: 100    // Creates a dropdown of 15 years to control year
      });
    });
